version: "3.9"

services:
  backend:
    build:
      context: .
      dockerfile: Dockerfile.backend
    ports:
      - "8000:8000"
    environment:
      - DJANGO_DEBUG=true
      - DJANGO_ALLOWED_HOSTS=*
    volumes:
      - .:/app

  dash:
    build:
      context: .
      dockerfile: Dockerfile.dash
    environment:
      - BACKEND_BASE_URL=http://backend:8000/api
    depends_on:
      - backend
    ports:
      - "8050:8050"
    command: ["python", "machine_learning/app.py"]
